* {
  margin: 0;
  background-color: #141414;
}

h1 {
  font-size: 48px;
  color: #fa0505;
  margin: 10px;
}

h2 {
  font-size: 36px;
  color: #ffff;
  margin-left: 10px;
}

.App {
  margin-top: 20px;
}
